{% extends "fakeIndex.html" %}

{% block content %}
<div class="section section-components pb-0" id="section-components">
        <h2>
          <br>

            <div class="card bg-secondary shadow border-0 justify-content-center" style="margin-top:-15%;">
          <div class="card-body px-md-5 py-md-5">
            <div class="text-center text-muted mb-4">
              <small>Sign in with credentials</small>

              <!-- MESSAGES HERE -->
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
              <!-- MESSAGES HERE -->

              <!-- ERRORS HERE -->
              {% for error in form.password.errors %}
              <div style="margin-top: 10px;" class="alert alert-default" role="alert">
              {{error}}
              </div>

              {% endfor %}
              <!-- ERRORS HERE -->

            </div>
            <form action="" method="post" novalidate>
              
              {{ form.hidden_tag() }}
              <p>
                  {{ form.email.label }}<br>
                  {{ form.email(size=32) }}<br>
              </p>
              <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}<br>
              </p>
              <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
              <p>{{ form.submit() }}</p>
          </form>
{% endblock %}
